.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    padding: 10px 18px 10px 10px;
  }
  .brand__logo {
      width: 85px;
      height: 74px;
    }
  
    .brand__title {
      color: #FFFFFF;
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
    }
  
    .brand--html {
      background-color: #E93E30;
    }
  
    .brand--js {
      background-color: #F7E018;
    }
  
    .brand--css {
      background-color: #299ED5;
    }
  
    .brand--react {
      background-color: #292C33;
    }
  
    .brand--vue {
      background-color: #67C770;
    }
  
    .brand--bootstrap {
      background-color: #563D7C;
    }
  