.main-post {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.main-post__img {
      width: 603px;
      height: 314px;
      border-radius: 20px;
      object-fit: cover;
    }
  
.main-post__date {
      font-size: 18px;
      font-weight: 400;
    }
  
.main-post__title {
      font-size: 24px;
      font-weight: 700;
    }
  
