.post {
    display: flex;
    gap: 30px;
  
    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
    }
  
    &__texts {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    &__img {
      width: 189px;
      height: 145px;
      border-radius: 20px;
      object-fit: cover;
    }
  
    &__date {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
   
  .post {
   .post--popular {
      flex-direction: column;
      gap: 5px;
      height: 390px;
    }
  
  .post__img {
  .post--popular {
        width: 298px;
        height: 200px;
      }
    }
  
  .post-date {
  .post-popular {
        font-size: 16px;
      }
    }
  
  .post__title {
  .post--popular {
        margin-bottom: 35px;
        font-size: 20px;
      }
    }
  }